.widget-tabpanel {
    position:relative;overflow:hidden;
    width:100%;
}
.tab-group {
    /*position:absolute;top:0;left:0;*/
    float:left;width:100%;
    /*
    box-sizing:border-box;
    background-color:#CBDAEF;
    background-image:-webkit-gradient(linear, 50% 0, 50% 100%, from(#DDE7F5), to(#CBDAEF));
    */
}
.tab-group li {float:left;}
.tab {
    letter-spacing: 1px;
    height:16px;line-height:16px;
    float:left;overflow:hidden;zoom:1;
    margin-right:5px;padding:6px 8px;
    white-space: nowrap;
    color:#007785;font-size:14px;
    background-image:url(Images/tab-bg-line.png);
    background-repeat:repeat-x;
    /*
    box-sizing:border-box;
    -webkit-box-shadow:white 0px 1px 0px 0px inset, white -1px 0px 0px 0px inset, white 1px 0px 0px 0px inset;
    box-shadow:white 0px 1px 0px 0px inset, white -1px 0px 0px 0px inset, white 1px 0px 0px 0px inset;
    background-image: -moz-linear-gradient(center top , #CCDEF6, #D6E6FA 25%, #DEECFD 45%);    
    background-image:-webkit-gradient(linear, 50% 0, 50% 100%, from(#CCDEF6), color-stop(0.25, #D6E6FA), color-stop(0.45, #DEECFD));
    border-top-left-radius:4px;border-top-right-radius:4px;
    */
    border-color:#C4D7D7;border-style:solid;border-width:1px 1px 0;
}
.tab-selected {
    position:relative;top:1px;z-index:2;
    background-color:#FAFAFA;
    background-image:none;
    /*
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F9FE 25%, #DEECFD 45%);    
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, from(white), color-stop(0.25, #F5F9FE), color-stop(0.45, #DEECFD));
    */
}
.tab-panel {
    /*position:absolute;top:30px;left:0;right:0px;*/
    overflow:auto;z-index:1;
    border:1px solid #C4D7D7;
}